<!-- Footer -->
<footer class="bg-dark text-center text-white mt-1">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white">Deevanshu.k</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->