<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
    <div class="container-fluid"><a class="navbar-brand" href="#"><img class="d-inline-block align-text-top"
          src="../static/nav/youth_league.svg" alt="" width="38" height="38"> sportBGMI</a></div>
  </nav>