<% for(var i=0; i < data.length; i++) { %>
    <!-- console.log(data[i].dateofenroll); -->
    <tr>
        <td><%= i+1 %> </td>
        <td><%= data[i].name %> </td>
        <td><%= data[i].speciality %></td>
        <td><%= data[i].dateofenroll %> </td>
      </tr>
<% } %>
